# Build outputs
*.o
*.d
lib*.so
lib*.so.*
*.a
build*/
.dep
__pycache__
*.pyc

# Eclipse
.metadata
.settings
.project
.cproject
.pydevproject
.gdbinit

# libuavcan DSDL compiler default output directory
dsdlc_generated

# Log files
*.log
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# UAVCAN headers
libuavcan/include/uavcan/CoarseOrientation.hpp
libuavcan/include/uavcan/Timestamp.hpp
libuavcan/include/uavcan/equipment/
libuavcan/include/uavcan/navigation/
libuavcan/include/uavcan/protocol/AccessCommandShell.hpp
libuavcan/include/uavcan/protocol/CANIfaceStats.hpp
libuavcan/include/uavcan/protocol/DataTypeKind.hpp
libuavcan/include/uavcan/protocol/GetDataTypeInfo.hpp
libuavcan/include/uavcan/protocol/GetNodeInfo.hpp
libuavcan/include/uavcan/protocol/GetTransportStats.hpp
libuavcan/include/uavcan/protocol/GlobalTimeSync.hpp
libuavcan/include/uavcan/protocol/HardwareVersion.hpp
libuavcan/include/uavcan/protocol/NodeStatus.hpp
libuavcan/include/uavcan/protocol/Panic.hpp
libuavcan/include/uavcan/protocol/RestartNode.hpp
libuavcan/include/uavcan/protocol/SoftwareVersion.hpp
libuavcan/include/uavcan/protocol/debug/
libuavcan/include/uavcan/protocol/dynamic_node_id/
libuavcan/include/uavcan/protocol/enumeration/
libuavcan/include/uavcan/protocol/file/
libuavcan/include/uavcan/protocol/param/

# Copied sources
src/*
!src/UAVCAN.hpp
